<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Poker Board</title>
    <script type="text/javascript" src="{{ url_for('static', filename='create_poker_board/script1.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='create_poker_board/style1.css') }}">
</head>
<body>
    <header>
        <div class="dark-header-grid">
            <div class="content">
                <div class="title-row">
                    <img class="logo" alt="logo" src="../static/create_poker_board/cognizantlogo.jpg">
                    <h3 class="name">Poker Estimation</h3>
                </div>
            </div>
        </div>
    </header>
    <form class="box" action="user_entry.html" method="post">
        <h3>
            Create Poker Board
        </h3>
        <input type="text" name="" placeholder="Enter User Id" id="user_id">
        <input type="text" name="" placeholder="Enter User role" id="user_name">
        
        <div class="dropdown">
            <label for="poker_board_activity">Poker Board Activity:</label>
            <select name="poker_board_activity">
                <option value="0">Please select one…</option>
                <option value="1">Fibonacci Number</option>
                <option value="1">T-shirt Sizing</option>
            </select>    
        </div>
        <input type="submit" name="" value="Create" onclick="validate()">
    </form>
</body>
</html>