<!DOCTYPE html>
<html>

<head>
  <title>Scrum Master View</title>
  <script type="text/javascript" src="{{ url_for('static', filename='Scrum Master View/scrum_master_view.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='Scrum Master View/scrum_master_view.css') }}">
</head>

<body>

  <header>
    <div class="dark-header-grid">
      <div class="content">
        <div class="title-row">
          <img class="logo" alt="logo" src="..\static\Scrum Master View\cts_logo.jpg">
          <h2 class="name">Poker Estimation</h2>
        </div>
      </div>
    </div>
    <div class="dark-header-divider"></div>
    <div class="light-header-divider">
      <div class="content">
        <h3 class="title">PEWA-2: Setting Up a New Poker Board for Estimation for a Sprint</h3> <!--learn how to dynamically import JIRA Title and User Story Description-->
        <h3 class="sub-title">Creating a Cloud Function to Generate AES Key and Store in Datastore</h3>
      </div>
    </div>
    </div>
  </header>

  <div class="card-container">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="..\static\Scrum Master View\cts_logo.jpg" alt="Image 1">
        </div>
        <div class="flip-card-back">
          <h1>Shubham</h1>
          <h2>3</h2>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="..\static\Scrum Master View\cts_logo.jpg" alt="Image 1">
        </div>
        <div class="flip-card-back">
          <h1>Rahul</h1>
          <h2>2</h2>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="..\static\Scrum Master View\cts_logo.jpg" alt="Image 1">
        </div>
        <div class="flip-card-back">
          <h1>Ankur</h1>
          <h2>5</h2>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="..\static\Scrum Master View\cts_logo.jpg" alt="Image 1">
        </div>
        <div class="flip-card-back">
          <h1>Ritabrata</h1>
          <h2>8</h2>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="..\static\Scrum Master View\cts_logo.jpg" alt="Image 1">
        </div>
        <div class="flip-card-back">
          <h1>Gourab</h1>
          <h2>1</h2>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="..\static\Scrum Master View\cts_logo.jpg" alt="Image 1">
        </div>
        <div class="flip-card-back">
          <h1>Shreejita</h1>
          <h2>3</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="btn">
    <button id="button" onclick="flipCards(),handleClick()">Reveal</button>
    <button id="button">Store</button>
    <button id="button">Vote again</button>
  </div>
</body>

</html>